---
import Container from "../shared/Container.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<section class="relative">
    <Container className={className}>
        <div class="flex flex-col items-center justify-center py-4 md:py-6">
            <div class="w-full max-w-screen-xl mx-auto overflow-hidden">
                <div class="aspect-[16/9] w-full relative">
                    <img 
                        src="/images/noesis-diagram.png" 
                        alt="System architecture" 
                        class="w-full h-full object-contain"
                        loading="lazy"
                    />
                </div>
            </div>
        </div>
    </Container>
</section> 