---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { useCases } from "../../utils/data.ts";


type UseCasesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="use-cases">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-5xl mx-auto space-y-4">
            <Title>
                Noesis: Comprehensive System Knowledge Platform
            </Title>
            <Paragraph>
                Noesis provides a complete solution for understanding and managing system knowledge through three powerful features that bridge the gap between technical complexity and business understanding. Our platform ensures that both developers and non-technical stakeholders can effectively collaborate and make informed decisions about system architecture and functionality.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                    useCases.map((useCase: UseCasesProps) => {
                    return (
                            <Service title={useCase.title} description={useCase.description} icon={useCase.icon}>
                            </Service>
                            );
                    })
            }
        </div>
    </Container>
</section> 