---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Demo from '../components/sections/Demo.astro';
import Services from '../components/sections/Services.astro';
import Features from '../components/sections/Features.astro';
import Founders from '../components/sections/Founders.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import Architecture from '../components/sections/Architecture.astro';
import AIFuture from '../components/sections/AIFuture.astro';

---

<Layout title="Understand your system">
	<main class="flex flex-col gap-y-8 md:gap-y-12 overflow-hidden">
		<Demo/>
		<Hero/>
		<Architecture/>
		<Services/>
		<Features/>
		<AIFuture/>
		<Founders/>
		<CTA/>
		<!-- <Brands/> -->
	</main>
</Layout>