---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';

---

<Layout title="Understand your system">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Services/>
		<Features/>
		<CTA/>
	</main>
</Layout>